.maps {
    padding-top: 30px;
    text-align: center;
}

.page-name {
    font-size: 70px;
    text-decoration: underline;
    color: #ffffff;
}

.page-excerpt {
    font-size: 20px;
    font-style: italic;
    color: #f5f5f5;
}

.maps-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto auto 35px;
    border: solid #4b99dc 1px;
    background-color: #19262c;
    width: 75%;
}

.maps-container span {
    display: inline-block;
    padding-top: 5px;
    background-color: #d3ced1;
    width: 200px;
    border: solid #f99e1a 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #bb420c;
}

.maps ul, .maps li {
    list-style: none;
    padding: 0;
}

.maps ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3%;
    margin: auto;
    width: 90%;
}

.maps li {
    padding: 20px 15px;
    cursor: pointer;
    transition: transform .2s;
}

.maps li:hover {
    transform: scale(1.4);
}

.maps-container img {
    display: block;
    margin: auto;
    width: 200px;
    border: solid #f99e1a 2px;
}

#maps-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
}

#modal-content {
    background-color: #161d20;
    border: solid #4b99dc 1px;
    margin: auto;
    padding: 20px;
    width: 50%;
}

#modal-name {
    font-size: 25px;
    color: #ffffff;
}

#modal-gamemodes span {
    color: #ffffff;
}

#modal-gamemodes-descriptions {
    padding-top: 10px;
    background-color: #d3ced1;
    border: solid #f99e1a 1px;
    color: #bb420c;
}

#modal-flag {
    display: block;
    width: 50px;
    margin: auto;
    padding-top: 5px;
}

#modal-thumbnail {
    display: block;
    margin: 5px auto auto;
    border: solid #f99e1a 2px;
}

#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1179px){
    .page-name {
        font-size: 90px;
    }

    .page-excerpt {
        font-size: 25px;
    }

    .maps-container {
        border: solid #4b99dc 2px;
    }

    #modal-name {
        font-size: 45px;
    }

    #modal-gamemodes span, #modal-gamemodes-descriptions {
        font-size: 30px;
    }

    #modal-content {
        width: 80%;
        border: solid #4b99dc 2px;
    }

    #modal-thumbnail {
        padding-top: 0;
        width: 500px;
    }

    .maps-container img {
        width: 500px;
        border: solid #f99e1a 3px;
    }

    .maps-container span {
        font-size: 35px;
        width: 500px;
    }
}